<%if user_signed_in?%>
  <%= link_to 'New event', new_user_event_path(current_user) %><br/>
<%end%>

<h1>Events</h1>
<%#= will_paginate @events%>
<%#*<br/>%>
<table>
  <% @events.each do |event| %>
    <tr>
      <td width="20%">
        <%if event.image_link.nil? or event.image_link.blank?%>
          <%if user_signed_in?%>
            <%= link_to "No poster",user_event_path(:user_id => event.user.id, :id=> event)%>
          <%else%>
            <%= link_to "No poster", event %>
          <%end%>
        <%else%>
          <%if user_signed_in?%>
            <%= link_to (image_tag event.image_link, :width=>"150", :height=>"150",:border=>0),user_event_path(:user_id => event.user.id, :id=> event)%>
          <%else%>
            <%= link_to (image_tag event.image_link, :width=>"150", :height=>"150",:border=>0),event%>
          <%end%>
        <%end%>
      </td>
      <td>
        <b>Title:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=h event.title %><br/>
        <b>Category:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=h event.category %><br/>
        <b>Address:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=h event.address %><br/>
        <b>Contact:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=h event.contact %><br/>
        <b>Date:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=h event.date %><br/>
        <%if !event.price.nil? && !event.price.blank? && event.price != 0 %>
          <b>Entry Fee:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=h number_to_currency(event.price) %><br/>
        <%else%>
          <b>Entry Fee:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Free<br/>
        <%end%>
      </td>
    </tr>
  <% end %>
</table>

<%if user_signed_in?%>
  <%= link_to 'Clear All Event Registrations', clear_all_event_reg_path() %><br/>
<%end%>